div.root h1#error-page-header {
    text-align: center;
    font-style: italic;
    padding-top: 20px;
    font-size: 70px;
    margin-top: 0px;
}

div.root p {
    text-align: center;
    font-style: italic;
    margin-top: 20px;
    font-size: 40px;
}