div.root h1#home-blog-header {
    text-align: center;
    font-style: italic;
    padding-top: 20px;
    font-size: 70px;
    margin-top: 0px;
}

div.root p {
    text-align: center;
    font-style: italic;
    margin-top: 20px;
    font-size: 40px;
}

h2 {
    text-align: center;
    text-decoration: underline;
    padding-top: 40px;
    font-size: 50px;
    margin-top: 0px;
}

div.photos {
    display: flex;
}

div.info {
    display: flex;
}